*{
  margin:0;
  padding:0;
}
video{
  display:none;
}

main {

  position: absolute;
  background-color: transparent;
  color:whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 5%;
  left: 5%;
  display:inline;
 
}

button {
 
  font-family: Tahoma;
    padding: 10px 40px;
    cursor: pointer;
    text-transform: uppercase;
    word-spacing: 5px;
    outline: none;
    transition: all 0.3s ease;
    background-color: transparent;
    border: 3px solid whitesmoke;
    color: whitesmoke;
    font-weight: 900;
    font-size: large;
    margin: 20px 0px;
    border-radius: 5px;
    
   
   
}


button:hover{
  transform: scale(1.1);
  transition: all 0.3s ease;
}



