*{
  margin:0;
  padding:0;
}
video{
  display:none;
}

main{
  position: absolute;
  background-color: transparent;
  color:whitesmoke;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  top: 5%;
  left: 5%;
}

.button1{
  top:15%;
  left:15;
  width: 150px;
  height: 30px;


}