main{
    width: 100%;
    height: 100%;
    background-color: #f5f5f5;
    position: relative;
    overflow: hidden;
}

body{
    margin:0;
    overflow:hidden;
    background-color: #333333;
    font: size 20px;
}

#author{
    position: absolute;
    top: 15px;
    left: 30px;
    font-family: "Lato";
    text-align: center;
}
video{
    display:none;
}
#start{
    background:transparent;
    color:aliceblue;
    width: 280px;
    height: 50px;
    position: absolute ;
    left: calc(50% - 140px);
    bottom: calc(50% - 35px);
    border: 1px solid #ffffff;
    border-radius: 3px;
    cursor: pointer;
    transition-duration: 600ms;
}
#start:hover{
    background: #ffffff;
    color:#000000;
}
p{
    color:white;
}